body {
    background-color: orange;
    font-family: arial,sans-serif;
}
#container {
    width: 200px; height: 400px;
    margin-left: auto; margin-right: auto;
    border: 1px solid orange;
    background-color: #996600;
}
#main {
    width: 30%; height: 100%;
    float: left;
}
#bar {
    width: 40px; height: 100%;
    margin-left: auto; margin-right: auto;
    position:relative;
}
#bar1 {
    height: 100px;
    background-color: red;
}
#bar2 {
    height: 100px;
    background-color: orange;
}
#bar3 {
    height: 200px;
    background-color: green;
}
#cover {
    position:absolute;
    height: 150px;
    top:0;left:0;right:0;
    background-color: #996600;
    transition: height 0.5s;
}
#bar-hoogte {
    position:absolute;
    text-align: center;
    height: 20px;
    top:0;left:0;right:0;
    color: white;
    font-weight: bold;
    transition: top 0.5s;
    padding-top:5px;
}
#buttons {
    width: 70%; height: 100%;
    float: left;
    text-align: center;
}
button {
    margin-bottom: 50px;
}