.g, body, html, input, .std, h1 {
    font-family: arial,sans-serif;
    font-size: small;
}

.a, cite, cite a:link, cite a:visited, .cite, .cite:link, #nygTcd>i, .bc a:link {
    color: #006621;
    font-style: normal;
}
.f, .f a:link {
    color: #808080;
}

#wrapper {
    width: 852px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.mR2gOd {
    display: block;
    width: 852px;
    overflow-x: hidden;
    position: relative;
    white-space: nowrap;
    height:297px;
}
.DAVP1 {
    display: inline-block;
    position:absolute;
}
.rSr7Wd {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: flex;
}
.So9e7d {
    padding: 4px;
    width: 205px;
    position: relative;
    display: block;
}
.cv2VAd {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    box-shadow: none;
}

g-inner-card {
    background-color: #fff;
    border-radius: 2px;
    display: block;
    overflow: hidden;
}
.qV9w7d {
    overflow: hidden;
    position: relative;
}
.KNcnob {
    background-color: #eee;
    position: absolute;
    z-index: 0;
    margin: auto;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}
.rISBZc {
    display: block;
    border: 0;
}

.M4dUYb {
    position: relative;
}
.pAx2Gb {
    padding: 16px 16px 0 16px;
    display: block;
}
.nDgy9d {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.QgUve {
    font-size: 16px;
    line-height: 1.375em;
}
.Z25Gce {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.YQPQv {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
}
.GJhQm {
    font-size: 14px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.button {
    position: absolute;
    top: 100px;
    border-radius: 20px;
    border: 2px solid green;
    height: 20px;
    width: 20px;
    z-index: 1;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgreen;
    color: white;
    cursor: pointer;
}
.button:hover{
    color: green;
}
.button-left{
    left: -40px;
}
.button-right {
    right: -40px;
}
#articles {
    left: 0;
    transition: left 1s;
}